<html>
    <head>
        <title>{{ title }} | LangMatch</title>
    </head>
    <body>
        <div><a href="{{ url_for('browse') }}">Browse Matches</a>
        <span>Forum</span>
        <span>Messages</span>
        <a href="{{ url_for('user_profile') }}">Profile</a>
        <span>Settings</span>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock content %}
    </body>
</html>
