{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <!-- Action attribute: Empty because form is submitted to same url that rendered the form,
         novalidate- have Flask route handle form validation not the web browser -->
    <form action="" method="post" novalidate>
        <!-- Generate hidden field token to protect against CSRF attacks. SECRET_KEY defined in config.py -->
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock content %}
